<section id="hero-copy">
  <a href="/"><img src="/img/dmu-portrait.jpg" alt="Dongsheng Mu" class="peter" /></a>

  <h2>Hi, I'm Dongsheng</h2>
  <p>I'm a system software developer in Silicon Valey, passionate about cloud security, data analysis, and automation.</p>
    <ul class="social">
      <li><a href="https://www.linkedin.com/profile/view?id=71265165" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/dongshengmu" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="mailto:dongshengm@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
    </ul>

</section>
